.questions-section {
  box-sizing: border-box;
  width: 60vw;
  height: auto;
}

.questions-card {
  margin: 1rem 2rem;
}

.questions-form {
  width: 100%;
}

.question-tab {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  align-items: center;
  padding: 2rem;
}

.questions-buttons-arrows {
  background-color: transparent;
  border-color: transparent;
}

.question-content {
  font-size: 2em;
  font-weight: 500;
  padding-top: 2rem;
  margin-bottom: 0;
}

.question-field {
  width: 80%;
}

.question-button-continue {
  padding-top: 1rem;
}

.button {
  width: 80%;
  justify-content: center;
}

@media screen and (max-width: 970px) {
  .questions-section {
    //width: 60vw;
  }

  .questions-card {
    margin: 1rem;
  }

  .question-tab {
    grid-template-columns: 0.25fr 1fr 0.25fr;
    padding: 1rem 0;
  }

  .questions-buttons-arrows {
    padding: 0 !important;
  }

  .question-content {
    font-size: 1.5em;
    padding-top: 1.5rem;
    letter-spacing: 0.05rem;
  }

  .question-field {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .questions-section {
    width: 95vw;
  }
}
