<section class="questions-section">
  <mat-card class="mat-elevation-z8 questions-card">
    <form [formGroup]="questionsForm" class="questions-form">
      <mat-tab-group align="center" [selectedIndex]="activeTab" (selectedIndexChange)="onChangeQuestion($event)">
        <mat-tab *ngFor="let question of questionsData | keyvalue : keepOrder">
          <mat-card-content class="question-content">
            {{question.value.questionText}}
          </mat-card-content>
          <div class="question-tab">
            <div>
              <button
                (click)="onBack()"
                [ngStyle]="activeTab > 0 ? {display: 'block'} : {display: 'none'}"
                class="questions-buttons-arrows" mat-button type="button">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
            </div>
            <div>
              <mat-form-field appearance="fill" class="question-field">
                <mat-label>Select an option</mat-label>
                <mat-select [formControlName]="question.key" required>
                  <mat-option *ngFor="let optionEl of question.value.options"
                              [value]="optionEl.value">{{optionEl.viewValue}}</mat-option>
                </mat-select>
                <mat-error *ngIf="questionsForm.controls[question.key].errors?.required">Please select your {{question.key}}
                </mat-error>
              </mat-form-field>
              <div class="question-button-continue">
                <button
                  *ngIf="activeTab < indexOfTheLastTab"
                  [disabled]="questionsForm.controls[question.key].invalid"
                  (click)="onContinue()" type="button"
                  class="button" mat-stroked-button>
                  CONTINUE
                </button>
                <button
                  *ngIf="activeTab === indexOfTheLastTab"
                  [disabled]="questionsForm.controls[question.key].invalid"
                  (click)="onSubmitAnswers()" type="submit"
                  class="button" mat-stroked-button>
                  SUBMIT
                </button>
              </div>
            </div>
            <div>
              <button
                (click)="onContinue()"
                [disabled]="questionsForm.controls[question.key].invalid"
                [ngStyle]="activeTab < indexOfTheLastTab ? {display: 'block'} : {display: 'none'}"
                class="questions-buttons-arrows" mat-button type="button">
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card>
</section>
