<section class="questions-section">
  <mat-card class="mat-elevation-z8 questions-card">
    <div>
      <button
        *ngIf="activeTab > 0" (click)="onBack()"
        class="questions-buttons-arrows" type="button" mat-button>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmitAnswers()" class="questions-form">
      <mat-tab-group align="center" [selectedIndex]="activeTab" (selectedIndexChange)="onChangeQuestion($event)">
        <mat-tab>
          <mat-card-content class="question-content">What Is Your Housing Status?</mat-card-content>
          <mat-form-field appearance="fill" class="question-field">
            <mat-label>Select an option</mat-label>
            <mat-select [formControl]="housingStatusControl" name="housingStatus" required>
              <mat-option *ngFor="let housingStatus of housingStatuses" [value]="housingStatus.value">{{housingStatus.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.housingStatus.errors?.required">Please select your housing status</mat-error>
          </mat-form-field>
          <div class="question-button-continue">
            <button
              type="button" mat-stroked-button class="button"
              [disabled]="form.controls.housingStatus.invalid" (click)="onContinue()">
              CONTINUE
            </button>
          </div>
        </mat-tab>
        <mat-tab>
          <mat-card-content class="question-content">What Is Your Year Of birth?</mat-card-content>
          <mat-form-field appearance="fill" class="question-field">
            <mat-label>Select an option</mat-label>
            <mat-select [formControl]="yearOfBirthControl" name="yearOfBirth" required>
              <mat-option *ngFor="let year of yearsOfBirth" [value]="year.value">{{year.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.yearOfBirth.errors?.required">Please select your year of birth</mat-error>
          </mat-form-field>
          <div class="question-button-continue">
            <button
              type="button" mat-stroked-button class="button"
              [disabled]="form.controls.yearOfBirth.invalid" (click)="onContinue()">
              CONTINUE
            </button>
          </div>
        </mat-tab>
        <mat-tab>
          <mat-card-content class="question-content">What Is Your Gender?</mat-card-content>
          <mat-form-field appearance="fill" class="question-field">
            <mat-label>Select an option</mat-label>
            <mat-select [formControl]="gendersControl" name="gender" required>
              <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.gender.errors?.required">Please select a housing status</mat-error>
          </mat-form-field>
          <div class="question-button-continue">
            <button class="button" [disabled]="form.controls.gender.invalid" mat-stroked-button type="submit">
              SUBMIT
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
    <div>
      <button
        *ngIf="activeTab < 2"
        class="questions-buttons-arrows" type="button" mat-button (click)="onContinue()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </mat-card>
</section>
