/* You can add global styles to this file, and also import other style files */

:root {
  --header-height: 50px;
  --footer-height: 40px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

a {
  text-decoration: none;
}

.mat-card {
  padding: 0 !important;
}

.mat-tab-header {
  display: none !important;
}
