<section class="main-page">
  <div class="main-page-title-block">
    <div>
      <img class="main-page-logo" src="assets/gov_logo_white.png" alt="">
    </div>
    <div>
      <p class="main-page-subtitle">A non-government site</p>
      <p class="main-page-title">STIMULUS CHECK</p>
    </div>
  </div>
  <p class="main-page-content-get">Get Your $1400 Stimulus Check</p>
  <p class="main-page-content-qualify">Over 40 Million People Qualify!</p>
  <app-questions-form></app-questions-form>
  <p class="main-page-content-apply">Get Everything You Need To Know To Apply To Government Grants</p>
</section>
